.footer {
  height: 100px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__inner {
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  span {
    color: #d6a12d;
    transition: all 0.1s linear;
  }
}
.footer__inner :hover span {
  color: #f8ab04;
}
.footer__inner a {
  color: rgb(205, 212, 218);
  transition: all 0.1s linear;
  &:hover {
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 630px) {
  .footer__inner {
    font-size: 12px;
  }
}
@media (max-width: 465px) {
  .footer__inner {
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 5px;
    }
  }
}
